body {
  background-color: #fff;
  color: #333;
  font-family: Helvetica Neue, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  min-height: 100%;
}

.login-intro {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.login-form {
  text-align: center;
}

.signup-form {
  text-align: center;
}

.btn-primary {
  &:visited {
  color: #fff;
  }
}

p, ol, ul, td {
  font-family: Helvetica Neue, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #666;
    text-decoration: none;
    background-color: transparent;
  }
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.no-padding {
  margin-right: 0px;
  [class*="col-"] {
    padding-left: 0 !important;
  }
}

.tabs-style {
  font-size: 14px;
  font-weight: 500;
}

.main-title{
  font-family: Helvetica Neue;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  padding-bottom: 20px;
}

.banner {
  text-align: center;
  margin-bottom: 18px;
}

.instructions {
  background-color: transparent;
  border: 3px solid #666;
}

.instructions:visited {
  background-color: transparent;
  border: 3px solid #666;
}

.add-item {
  background-color: #ff6f69;
  border: 3px solid #ff6f69;
  color: white;
}

.add-item:visited {
    background-color: #ff6f69;
    border: 3px solid #ff6f69;
    color: white;
    cursor: pointer;
}

.add-item:hover {
    background-color: #e5635e;
    border: 3px solid #e5635e;
    color: white;
    cursor: pointer;
}

.add-item:active {
    background-color: #e5635e;
    border: 3px solid #e5635e;
    color: white;
    cursor: pointer;
}

.c-button {
  display: inline-block;
  border-radius: 7px;
  font-size: 17px;
  padding: 12px 31px;
  margin: 9px;
}

.btn-bid {
  display: inline-block;
  border-radius: 7px;
  font-size: 17px;
  padding: 8px 40px;
  background-color: #ff6f69;
  border: 3px solid #ff6f69;
  color: white;
  cursor: pointer;
}

.btn-bid:visited {
    background-color: #ff6f69;
    border: 3px solid #ff6f69;
    color: white;
    cursor: pointer;
}

.btn-bid:hover {
    background-color: #e5635e;
    border: 3px solid #e5635e;
    color: white;
    cursor: pointer;
}

.btn-bid:active {
    background-color: #e5635e;
    border: 3px solid #e5635e;
    color: white;
    cursor: pointer;
}

.thumbnail {
  height: 370px;
}
.explore {
  font-size: 22px;
}

.preview-text {
  overflow: hidden;
  height: 120px;
  margin-bottom: 21px;
}
.column-left {
  float: left;
  width: 33%;
}

.column-center {
  float: inline-block;
  width: 33%;
}

.column-right {
  float: right;
  width: 33%;
}



#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.stats {
  font-size: 20px;
  font-weight: 500;
}
