<head>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<h1 style="color:#ff6f69; text-align: center;">Post a Blessing!<i class="em em-gift_heart"></i></h1>
<br>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
